
// $link-color
.header{
    background-color: rgba(0,0,0,0.8);
    @include breakpoint(small){
        background-color: rgba(0,0,0,0.5);
    }
    border-radius: 0;
    min-height: 70px;
    padding-top: 8px;

    &-logo{

        img{
            height: 22px;
       }
    }

    &-toggle{
        color: $link-color;
    }

    

}