/*
* custom branding
* Author  :: Ahmed elbaz
* Version :: 1.0.0
* LinkedIn:: in/elbazz
* Mail    :: ahmed.elbazz.2010@gmail.com
*/
// ======>  main sass key 
    // active the next variable if you want arabic direction
$lang : ar; 
@import "../sass/_main"; 